services:
  develop:
    build: .
    ports:
      - "8005:8005"
    extra_hosts:
      - "host.docker.internal:host-gateway"

    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: ./pyproject.toml

    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    volumes:
      - ./storage:/app/storage
      - ./logs:/app/logs
      - ./alembic:/app/alembic
    depends_on:
      - db
      - qdrant
  
  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334

volumes:
  postgres_data:
  qdrant_data: