services:
  develop:
    build: .
    ports:
      - "8005:8005"

    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: ./pyproject.toml

    env_file:
      - .env
    volumes:
      - ./storage:/app/storage
      - ./logs:/app/logs
    depends_on:
      - db
  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: